img {
  width: 100px;
  border-radius: 10px;
}

.form-margin {
  margin-bottom: 12px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.number-input {
  width: 80px;
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  font-size: 24px;
}

.cart-image {      
  list-style-type: none;
  width: 90px;
  border-radius: 20%;
} 
.cart-container{
  display: flex;
  justify-content: center;
}
.cart-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}
.cart-item div {
  padding-bottom: 10px;
}
.cart-detail{
  padding-left: 20px;
}
.cart-info{
  display: flex;
  flex-direction: column;
}
.cart-info-user{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-input{
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.user-info{
  padding-left: 50px;
}
.user-info-item{
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.cart-amount{
  width: 60px;
  text-align: center;
}

.error-message{
  color: red;
  padding-left: 4px;
}
.btn-submit{
  padding: 10px;
  border: none;
  border-radius: 0;
  border-color: #0D80DF;
  background-color: #0D80DF;
  stroke-width: 0;
  color: white;
  font-weight: 700;
  font-size: medium;
  cursor: pointer;
}