<div class="confirmation-container ">
    <div class="confirmation-items">
        <div class="confirmation-item">
            <h1 class="confirmation-header">Success!</h1>
        </div>
        <div class="confirmation-item">
            Thank you, <span style="font-weight: bold;">{{full_name}}</span>!
        </div>
        <div class="confirmation-item">
            Your <span style="font-weight: bold;">${{total}}</span>
        </div>
        <div class="confirmation-item">
            Please allow 1-3 business day(s) for shipping.
        </div>
        <div class="confirmation-item">
            <button class="btn-primary" (click)="backToProduct()">
                Back to product list
            </button>
        </div>
    </div>
</div>