<div class="product-container">
    <div >
        <img class="product-image" [src]="product?.url" [alt]="product?.name">
    </div>
    <div>
        {{product?.name}}
    </div>
    <div>
        {{product?.price}}
    </div>
    <div>
       <select [(ngModel)]="quantity" class="select-input">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
       </select>
    </div>
    <div>
        <button class="btn-primary" (click)="addToCard()">
            Add to Cart
        </button>
    </div>
</div>